<!DOCTYPE html>
<html lang="en" class="demo-2 no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Define Your Dorm</title>
		<meta name="description" content="Hover Effects with animated SVG Shapes using Snap.svg" />
		<meta name="keywords" content="animated svg, hover effect, grid, svg shape html, " />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='fonts/favicon.ico') }}">
		<link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/component.css') }}" rel="stylesheet">

		<script src="{{ url_for('static', filename='js/snap.svg-min.js') }}"></script>
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
        <header class="codrops-header">
            <h1>Define Your Dorm</h1>  
        </header>
        
		<div class="container">


			<section id="grid" class="grid clearfix">

	            {% for url, dorm in dorms.iteritems() %}
	                <a href="{{url_for('dorm_page', dorm=url)}}" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z" onclick = $("#menu-close").click(); > 
	                	<figure>
						<img src="{{ url_for('static', filename='img/2.png') }}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2>{{dorm.name}} </h2>
							<p>RieberHall, Terrace, Vista</p>
							<button>View</button>
						</figcaption>
						</figure>
	                </a>
	            {% endfor %}
			</section>

		</div><!-- /container -->
		<script>
			(function() {
	
				function init() {
					var speed = 330,
						easing = mina.backout;

					[].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
						var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
							pathConfig = {
								from : path.attr( 'd' ),
								to : el.getAttribute( 'data-path-hover' )
							};

						el.addEventListener( 'mouseenter', function() {
							path.animate( { 'path' : pathConfig.to }, speed, easing );
						} );

						el.addEventListener( 'mouseleave', function() {
							path.animate( { 'path' : pathConfig.from }, speed, easing );
						} );
					} );
				}

				init();

			})();
		</script>
	</body>
</html>