<!DOCTYPE html>
<html lang="en" class="demo-2 no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Define Your Dorm</title>
		<meta name="description" content="UCLA, tell us about your home on the Hill. What is it known for? What makes it special?" />
		<meta name="keywords" content="define your dorm, ucla, daily bruin" />
		<meta name="author" content="UCLA Daily Bruin" />
        <meta property="og:url"                content="http://graphics.dailybruin.com/define-your-dorm/" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="Define Your Dorm - UCLA Daily Bruin" />
        <meta property="og:description"        content="UCLA, tell us about your home on the Hill. What is it known for? What makes it special?" />


		<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
		<link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/component.css') }}" rel="stylesheet">

		<script src="{{ url_for('static', filename='js/snap.svg-min.js') }}"></script>
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
        <div id="nav">
            <a href="http://www.dailybruin.com">
                <img src="http://dailybruin.com/images/2015/05/db_logo_B.png" id="dblogo">
            </a>
            <!-- <img src="img/unseen_logo.png" id="defineyourdormlogo"> -->
            <!-- change potato to url -->
            <ul class="share-buttons" id="social-buttons">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpotato&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL), '_blank', 'height=500,width=500,toolbar=0,location=0,menubar=0'); return false;"><img src="http://dailybruin.com/images/2015/05/Facebook.png"></a></li>
                <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fpotato&text=:%20http%3A%2F%2Fpotato" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL), '_blank', 'height=500,width=500,toolbar=0,location=0,menubar=0'); return false;"><img src="http://dailybruin.com/images/2015/05/Twitter.png"></a></li>
                <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fpotato&t=&s=" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title), '_blank', 'height=500,width=500,toolbar=0,location=0,menubar=0'); return false;"><img src="http://dailybruin.com/images/2015/05/Tumblr.png"></a></li>
                <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fpotato&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title), '_blank', 'height=500,width=500,toolbar=0,location=0,menubar=0'); return false;"><img src="http://dailybruin.com/images/2015/05/Pinterest.png"></a></li>
            </ul>
        </div>
        <header class="codrops-header">
            <h1>Define Your Dorm</h1>  
        </header>
        
		<div class="container">


			<section id="grid" class="grid clearfix">

	            {% for url, dorm in dorms.iteritems() %}
	                <a href="{{url_for('dorm_page', dorm=url)}}" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z" onclick = $("#menu-close").click(); > 
	                	<figure>
						<img src="{{ url_for('static', filename='img/2.png') }}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2>{{dorm.name}} </h2>
							<p>{{dorm.subtitle}} </p>
							<button>View</button>
						</figcaption>
						</figure>
	                </a>
	            {% endfor %}
			</section>

		</div><!-- /container -->
        <div id="content-credit">
                Page created by <a href="mailto:ggupta@media.ucla.edu">Gautam Gupta</a>, <a href="mailto:ltseng@media.ucla.edu">Li-Wei Tseng</a>, <a href="mailto:ctruong@media.ucla.edu">Catherine Truong</a>, &amp; <a href="mailto:kfchen@media.ucla.edu">Frank Chen</a><br>
                &copy; 2015 The Daily Bruin
        </div>
		<script>
			(function() {
	
				function init() {
					var speed = 330,
						easing = mina.backout;

					[].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
						var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
							pathConfig = {
								from : path.attr( 'd' ),
								to : el.getAttribute( 'data-path-hover' )
							};

						el.addEventListener( 'mouseenter', function() {
							path.animate( { 'path' : pathConfig.to }, speed, easing );
						} );

						el.addEventListener( 'mouseleave', function() {
							path.animate( { 'path' : pathConfig.from }, speed, easing );
						} );
					} );
				}

				init();

			})();
		</script>
	</body>
</html>